body {
  background-color: #606060;
}

textarea {
  resize: none;
}

html {
  position: relative;
  min-height: 100%;
}
  
.btn {
  height:100%;
}

.bottom-container {
  position: absolute;
  bottom: 0;
  padding-top: 0.5%;
  width: 100%;
 
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.chat-window-input {
  text-align: center;
  background-color: darkgreen;
}

.center {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
}

.card {
  padding: 10px 0 10px 0;
}

.disable {
  visibility: collapse;
  position: absolute;
}

.footer {
  position: relative;
  margin-top: 1%;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color:  	#404040;
}
  
.inputFields {
  margin-top: 2%;
}

.status-text {
  color: lightgray;
  padding-left: 2%;
}

.msg-group {
  padding-left: 10%;
  padding-right: 10%;
  position: absolute;
  height: 85%;
  overflow-y: scroll;
}

.input-group {
  position: relative;
  padding-left: 10%;
  padding-right: 10%;
  height: 8%;
}
